n8n/hotel-booking-workflow.json
{
  "name": "Finder AI - Hotel Verify & Booking System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-verify",
        "responseMode": "lastNode"
      },
      "name": "Hotel Verify Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\n\nreturn {\n  json: {\n    hotel_id:       body.hotel_id       || '',\n    hotel_name:     body.hotel_name     || '',\n    checkin:        body.checkin        || '',\n    checkout:       body.checkout       || '',\n    original_price: body.original_price || 0,\n    adults:         body.adults         || 2,\n    session_id:     body.session_id     || 'unknown',\n    timestamp:      new Date().toISOString()\n  }\n};"
      },
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v2/hotels/verify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "hotel_id",
              "value": "={{ $json.hotel_id }}"
            },
            {
              "name": "hotel_name",
              "value": "={{ $json.hotel_name }}"
            },
            {
              "name": "checkin",
              "value": "={{ $json.checkin }}"
            },
            {
              "name": "checkout",
              "value": "={{ $json.checkout }}"
            },
            {
              "name": "original_price",
              "value": "={{ $json.original_price }}"
            },
            {
              "name": "adults",
              "value": "={{ $json.adults }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.session_id }}"
            }
          ]
        }
      },
      "name": "Call Amadeus Verify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const verify    = $input.item.json;\nconst parsed    = $('Parse Request').item.json;\n\nlet priceStatus = 'unchanged';\nif (verify.price_changed) {\n  priceStatus = verify.price_direction === 'down' ? 'decreased' : 'increased';\n}\n\nreturn {\n  json: {\n    hotel_name:     verify.hotel_name     || parsed.hotel_name,\n    hotel_id:       verify.hotel_id       || parsed.hotel_id,\n    available:      verify.available,\n    original_price: parsed.original_price,\n    current_price:  verify.current_price  || parsed.original_price,\n    price_status:   priceStatus,\n    price_diff:     verify.price_diff     || 0,\n    price_direction:verify.price_direction || null,\n    checkin:        parsed.checkin,\n    checkout:       parsed.checkout,\n    session_id:     parsed.session_id,\n    checked_at:     verify.checked_at     || new Date().toISOString(),\n    timestamp:      new Date().toISOString()\n  }\n};"
      },
      "name": "Compare Price",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEETS_ID",
        "sheetName": "Hotel Verifications",
        "columns": {
          "mappings": [
            {
              "name": "Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "Hotel Name",
              "value": "={{ $json.hotel_name }}"
            },
            {
              "name": "Hotel ID",
              "value": "={{ $json.hotel_id }}"
            },
            {
              "name": "Available",
              "value": "={{ $json.available }}"
            },
            {
              "name": "Original Price",
              "value": "={{ $json.original_price }}"
            },
            {
              "name": "Current Price",
              "value": "={{ $json.current_price }}"
            },
            {
              "name": "Price Status",
              "value": "={{ $json.price_status }}"
            },
            {
              "name": "Price Diff",
              "value": "={{ $json.price_diff }}"
            },
            {
              "name": "Check-in",
              "value": "={{ $json.checkin }}"
            },
            {
              "name": "Check-out",
              "value": "={{ $json.checkout }}"
            },
            {
              "name": "Session ID",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "Checked At",
              "value": "={{ $json.checked_at }}"
            }
          ]
        }
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"available\":      {{ $json.available }},\n  \"hotel_name\":     \"{{ $json.hotel_name }}\",\n  \"current_price\":  {{ $json.current_price }},\n  \"price_status\":   \"{{ $json.price_status }}\",\n  \"price_diff\":     {{ $json.price_diff }},\n  \"checked_at\":     \"{{ $json.checked_at }}\"\n}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 400]
    }
  ],
  "connections": {
    "Hotel Verify Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Call Amadeus Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Amadeus Verify": {
      "main": [
        [
          {
            "node": "Compare Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Price": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["finder-ai", "hotel-verify", "automation"],
  "triggerCount": 1,
  "updatedAt": "2026-03-02T00:00:00.000Z",
  "versionId": "2"
}